@media screen and (max-width: 1000px) {
    .pokemon-card .info .description {
        font-size: 1rem;
        max-width: 410px;
    }
}

@media screen and (max-width: 900px) {
    .pokemon-card .info .description {
        max-width: 310px;
    }
}

@media screen and (max-width: 786px) {
    .pokemon-card {
        .main-carousel {
            .pokemon-picture {
                width: 350px !important;
            }
    
            div:has(.pokemon-picture) {
                margin: auto;
                width: 350px;
            }
        }

        .info {
            flex-direction: column;
            gap: 25px;

            .description {
                max-width: unset;
                margin: 0;
            }

            .stats {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .pokemon-card {
        padding: 20px 45px;
    }
}

@media screen and (max-width: 430px) {
    .pokemon-card {
        .pokemon-name {
            font-size: 25px;
        }
        
        .main-carousel {
            .pokemon-picture {
                width: 200px !important;
            }

            div:has(.pokemon-picture) {
                margin: auto;
                width: 200px;
            }
        }

        .heading span[role='img'] > svg {
            width: 20px;
            height: 20px;
        }
    }
}